In [1]:
# Import important library
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
from sklearn.model_selection  import train_test_split
from sklearn.cluster import KMeans

### Q1 Read the input file and check the data dimension

In [ ]:
#Read input file and understand the data
# "default" is my dependent variable

In [2]:
gcred = pd.read_csv("german_credit.csv")
gcred.head()

,default,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,personal_status_sex,...,present_res_since,property,age,other_installment_plans,housing,credits_this_bank,job,people_under_maintenance,telephone,foreign_worker
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [3]:
gcred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
default                       1000 non-null int64
account_check_status          1000 non-null object
duration_in_month             1000 non-null int64
credit_history                1000 non-null object
purpose                       1000 non-null object
credit_amount                 1000 non-null int64
savings                       1000 non-null object
present_emp_since             1000 non-null object
installment_as_income_perc    1000 non-null int64
personal_status_sex           1000 non-null object
other_debtors                 1000 non-null object
present_res_since             1000 non-null int64
property                      1000 non-null object
age                           1000 non-null int64
other_installment_plans       1000 non-null object
housing                       1000 non-null object
credits_this_bank             1000 non-null int64
job                           1000 non-null object
people_under_maintenance      1000 non-null int64
telephone                     1000 non-null object
foreign_worker                1000 non-null object
dtypes: int64(8), object(13)
memory usage: 164.1+ KB

In [4]:
gcred.describe()

,default,duration_in_month,credit_amount,installment_as_income_perc,present_res_since,age,credits_this_bank,people_under_maintenance
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.300000,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000
std,0.458487,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086
min,0.000000,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,0.000000,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,0.000000,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,1.000000,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,1.000000,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000

In [5]:

import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from IPython.display import display, HTML
pd.set_option('display.max_columns', None)
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, confusion_matrix,roc_curve
from sklearn.model_selection import train_test_split, KFold, cross_val_score

In [15]:
# Lets build a Ensemble model but need to modify the dataset first

In [6]:
headers=["default","account_check_status","duration_in_month","credit_history","purpose","credit_amount","savings","present_emp_since","installment_as_income_perc","personal_status_sex","other_debtors","present_res_since","property","age","other_installment_plans","housing","credits_this_bank","job","people_under_maintenance","telephone","foreign_worker"]
gcred.columns=headers
gcred.to_csv("german_credit.csv",index=False)

### Q2.Prepare the model data by converting non-numeric to dummy ( 1 Marks)
##### Hint: Use get_dummies

In [14]:
# Print Shape of model data

In [7]:
gcred_convrtd = pd.get_dummies(gcred)

In [8]:
gcred_convrtd.columns

Index(['default', 'duration_in_month', 'credit_amount',
       'installment_as_income_perc', 'present_res_since', 'age',
       'credits_this_bank', 'people_under_maintenance',
       'account_check_status_0 <= ... < 200 DM', 'account_check_status_< 0 DM',
       'account_check_status_>= 200 DM / salary assignments for at least 1 year',
       'account_check_status_no checking account',
       'credit_history_all credits at this bank paid back duly',
       'credit_history_critical account/ other credits existing (not at this bank)',
       'credit_history_delay in paying off in the past',
       'credit_history_existing credits paid back duly till now',
       'credit_history_no credits taken/ all credits paid back duly',
       'purpose_(vacation - does not exist?)', 'purpose_business',
       'purpose_car (new)', 'purpose_car (used)',
       'purpose_domestic appliances', 'purpose_education',
       'purpose_furniture/equipment', 'purpose_radio/television',
       'purpose_repairs', 'purpose_retraining', 'savings_.. >= 1000 DM ',
       'savings_... < 100 DM', 'savings_100 <= ... < 500 DM',
       'savings_500 <= ... < 1000 DM ', 'savings_unknown/ no savings account',
       'present_emp_since_.. >= 7 years', 'present_emp_since_... < 1 year ',
       'present_emp_since_1 <= ... < 4 years',
       'present_emp_since_4 <= ... < 7 years', 'present_emp_since_unemployed',
       'personal_status_sex_female : divorced/separated/married',
       'personal_status_sex_male : divorced/separated',
       'personal_status_sex_male : married/widowed',
       'personal_status_sex_male : single', 'other_debtors_co-applicant',
       'other_debtors_guarantor', 'other_debtors_none',
       'property_if not A121 : building society savings agreement/ life insurance',
       'property_if not A121/A122 : car or other, not in attribute 6',
       'property_real estate', 'property_unknown / no property',
       'other_installment_plans_bank', 'other_installment_plans_none',
       'other_installment_plans_stores', 'housing_for free', 'housing_own',
       'housing_rent',
       'job_management/ self-employed/ highly qualified employee/ officer',
       'job_skilled employee / official',
       'job_unemployed/ unskilled - non-resident', 'job_unskilled - resident',
       'telephone_none', 'telephone_yes, registered under the customers name ',
       'foreign_worker_no', 'foreign_worker_yes'],
      dtype='object')

In [9]:
gcred2_df = pd.concat([gcred,gcred_convrtd],axis=1)

In [10]:
gcred2_df.shape

(1000, 83)

### Check for highly correlated variables but don't required any treatment for this use case

In [11]:
gcred_target = gcred2_df.iloc[:,0]
gcred_independent = gcred2_df.iloc[:,1:]

In [12]:
gcred_Corroutput=gcred_independent.corrwith(gcred_target,axis=0)

In [13]:
gcred_Corroutput.transpose()

duration_in_month                                                             0.214927
credit_amount                                                                 0.154739
installment_as_income_perc                                                    0.072404
present_res_since                                                             0.002967
age                                                                          -0.091127
credits_this_bank                                                            -0.045732
people_under_maintenance                                                     -0.003015
default                                                                       1.000000
duration_in_month                                                             0.214927
credit_amount                                                                 0.154739
installment_as_income_perc                                                    0.072404
present_res_since                                                             0.002967
age                                                                          -0.091127
credits_this_bank                                                            -0.045732
people_under_maintenance                                                     -0.003015
account_check_status_0 <= ... < 200 DM                                        0.119581
account_check_status_< 0 DM                                                   0.258333
account_check_status_>= 200 DM / salary assignments for at least 1 year      -0.044009
account_check_status_no checking account                                     -0.322436
credit_history_all credits at this bank paid back duly                        0.134448
credit_history_critical account/ other credits existing (not at this bank)   -0.181713
credit_history_delay in paying off in the past                                0.012325
credit_history_existing credits paid back duly till now                       0.043722
credit_history_no credits taken/ all credits paid back duly                   0.144767
purpose_(vacation - does not exist?)                                          0.070088
purpose_business                                                              0.036129
purpose_car (new)                                                             0.096900
purpose_car (used)                                                           -0.099791
purpose_domestic appliances                                                  -0.106922
purpose_education                                                             0.020828
                                                                                ...
present_emp_since_.. >= 7 years                                              -0.059733
present_emp_since_... < 1 year                                                0.106397
present_emp_since_1 <= ... < 4 years                                          0.010603
present_emp_since_4 <= ... < 7 years                                         -0.075980
present_emp_since_unemployed                                                  0.039815
personal_status_sex_female : divorced/separated/married                       0.075493
personal_status_sex_male : divorced/separated                                 0.050063
personal_status_sex_male : married/widowed                                   -0.019630
personal_status_sex_male : single                                            -0.080677
other_debtors_co-applicant                                                    0.062728
other_debtors_guarantor                                                      -0.055039
other_debtors_none                                                           -0.000751
property_if not A121 : building society savings agreement/ life insurance     0.007238
property_if not A121/A122 : car or other, not in attribute 6                  0.011121
property_real estate                                                         -0.119300
property_unknown / no property                                                0.125750
other_installment_plans_bank                                                  0.096510
other_installment_plans_none                                                 -0.113285
other_installment_plans_stores                                                0.050523
housing_for free                                                              0.081556
housing_own                                                                  -0.134589
housing_rent                                                                  0.092785
job_management/ self-employed/ highly qualified employee/ officer             0.040559
job_skilled employee / official                                              -0.013559
job_unemployed/ unskilled - non-resident                                      0.005951
job_unskilled - resident                                                     -0.021822
telephone_none                                                                0.036466
telephone_yes, registered under the customers name                           -0.036466
foreign_worker_no                                                            -0.082079
foreign_worker_yes                                                            0.082079
Length: 69, dtype: float64

In [14]:
gcred_Corroutput.to_excel("C:\\Users\\yogsy\\Desktop\\PG Course\\November 09 and 10\\External Lab\\German_Credit_Corroutput.xlsx")

### Drop the original variables which are converted to dummy

In [15]:
gcred2_df.drop(["account_check_status","credit_history","purpose","savings","present_emp_since",
                             "personal_status_sex","other_debtors","property","other_installment_plans","housing",
                             "job","telephone","foreign_worker"],axis=1,inplace=True)

In [17]:
gcred2_df.shape

(1000, 70)

In [18]:
gcred_target = gcred2_df.iloc[:,0]
gcred_independent = gcred2_df.iloc[:,1:]

### Q3 Split Train/Test data 70:30 ratio( 1 Marks)
##### Hint:from sklearn.model_selection import train_test_split

In [19]:
from sklearn.model_selection import train_test_split
X= gcred_independent
y=gcred_target
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.30,random_state=10)

### Q4 Build Random Forest Model( 1 Marks)
#### Hint:from sklearn.ensemble import RandomForestClassifier using n_jobs=2,n_estimators=500,criterion="entropy",random_state=9999

In [35]:
from sklearn.ensemble import RandomForestClassifier
gcred2_df_rfcl = RandomForestClassifier(n_estimators = 300, criterion="entropy",random_state=25)

In [36]:
gcred2_df_rfcl.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=300,
                       n_jobs=None, oob_score=False, random_state=25, verbose=0,
                       warm_start=False)

In [38]:
test_pred = gcred2_df_rfcl.predict(X_test)
gcred2_df_rfcl.score(X_test,y_test)

1.0

### Q5 Calculate Confusion Matrix and Accuracy score (1 Marks)
##### Hint: Use confusion_matrix and accuracy_score

In [39]:
from sklearn.metrics import confusion_matrix
gcred2_df_confmatrix = confusion_matrix(test_pred,y_test)
gcred2_df_confmatrix

array([[203,   0],
       [  0,  97]], dtype=int64)

### Q6 Show the list of the features importance( 1 Marks)

In [40]:
print(pd.DataFrame(gcred2_df_rfcl.feature_importances_,columns=["Imp"],index =X_train.columns))

                                                         Imp
duration_in_month                                   0.020356
credit_amount                                       0.030052
installment_as_income_perc                          0.007952
present_res_since                                   0.008276
age                                                 0.021440
credits_this_bank                                   0.003985
people_under_maintenance                            0.002600
default                                             0.569943
duration_in_month                                   0.022554
credit_amount                                       0.029500
installment_as_income_perc                          0.007833
present_res_since                                   0.007947
age                                                 0.021547
credits_this_bank                                   0.004564
people_under_maintenance                            0.002665
account_check_status_0 <= ... < 200 DM              0.006770
account_check_status_< 0 DM                         0.020116
account_check_status_>= 200 DM / salary assignm...  0.002389
account_check_status_no checking account            0.036228
credit_history_all credits at this bank paid ba...  0.004511
credit_history_critical account/ other credits ...  0.008148
credit_history_delay in paying off in the past      0.002091
credit_history_existing credits paid back duly ...  0.003321
credit_history_no credits taken/ all credits pa...  0.004727
purpose_(vacation - does not exist?)                0.001908
purpose_business                                    0.003054
purpose_car (new)                                   0.006101
purpose_car (used)                                  0.004157
purpose_domestic appliances                         0.004646
purpose_education                                   0.000874
...                                                      ...
present_emp_since_.. >= 7 years                     0.003135
present_emp_since_... < 1 year                      0.006831
present_emp_since_1 <= ... < 4 years                0.004182
present_emp_since_4 <= ... < 7 years                0.003953
present_emp_since_unemployed                        0.002324
personal_status_sex_female : divorced/separated...  0.003288
personal_status_sex_male : divorced/separated       0.003716
personal_status_sex_male : married/widowed          0.002091
personal_status_sex_male : single                   0.005027
other_debtors_co-applicant                          0.002254
other_debtors_guarantor                             0.002755
other_debtors_none                                  0.003387
property_if not A121 : building society savings...  0.003849
property_if not A121/A122 : car or other, not i...  0.004664
property_real estate                                0.004124
property_unknown / no property                      0.002820
other_installment_plans_bank                        0.006061
other_installment_plans_none                        0.006705
other_installment_plans_stores                      0.001754
housing_for free                                    0.002210
housing_own                                         0.004163
housing_rent                                        0.004346
job_management/ self-employed/ highly qualified...  0.003475
job_skilled employee / official                     0.004134
job_unemployed/ unskilled - non-resident            0.000607
job_unskilled - resident                            0.003354
telephone_none                                      0.003410
telephone_yes, registered under the customers n...  0.003842
foreign_worker_no                                   0.001047
foreign_worker_yes                                  0.000928

[69 rows x 1 columns]

### Q7 K-fold cross-validation( 2 Marks)
##### k-fold cross validation( without stratification)
##### Usually k is set as 10-20 in practical settings, depends on data set size

In [42]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import classification_report

In [43]:
# Use below values
num_folds = 10
seed = 77

In [ ]:
#Validate the Random Forest model build above using k fold

In [45]:
from sklearn.linear_model import LinearRegression
kfold = KFold(n_splits=10,random_state=seed)

In [50]:
rfcl_cv_score = cross_val_score(gcred2_df_rfcl,X,y,cv=kfold)

In [ ]:
#Calculate Mean score

In [51]:
print(rfcl_cv_score.mean())

1.0

In [ ]:
# Calculate score standard deviation using std()

In [52]:
print(rfcl_cv_score.std())

0.0

# Q8 Print the confusion matrix( 1 Marks)

In [53]:
y_kfold_predict= cross_val_predict(gcred2_df_rfcl,X,y,cv=kfold)
print(confusion_matrix(y_kfold_predict,y))

[[700   0]
 [  0 300]]

# Q9.Classification accuracy: 
percentage of correct predictions and Calculate sensitivity (or True Positive Rate or Recall) and Precision.
(2 Marks)

In [54]:
print(classification_report(y_kfold_predict,y))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       700
           1       1.00      1.00      1.00       300

    accuracy                           1.00      1000
   macro avg       1.00      1.00      1.00      1000
weighted avg       1.00      1.00      1.00      1000

[link text](https://)### Bootstrapping ( Bonus and Optional)
##### Given a dataset of size n, a bootstrap sample is created by sampling n instances uniformly from the data (with/without replacement)
##### Create a model with each bootstrap sample and validate it with the test set
##### Final result is calculated by averaging the accuracy of models

In [55]:
# Number of iterations for bootstrapping
bootstrap_iteration = 10
accuracy = []

In [57]:
from sklearn.utils import resample
from sklearn.metrics import accuracy_score

for i in range(bootstrap_iteration):
    X_, y_ = resample(X_train, y_train)
    gcred2_df_rfcl.fit(X_, y_)
    y_pred = gcred2_df_rfcl.predict(X_test)
    
    acc = accuracy_score(y_pred, y_test)
    accuracy.append(acc)

In [58]:
accuracy = np.array(accuracy)
print('Accuracy Score')
print('Avearge: ', accuracy.mean())
print('Standard deviation: ', accuracy.std())

Accuracy Score
Avearge:  0.9996666666666666
Standard deviation:  0.0009999999999999898