In [1]:
import nltk
from nltk.corpus import reuters
import re, pprint
from nltk import word_tokenize
from string import punctuation
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from six import string_types
from nltk.corpus import wordnet as wn
import unicodedata
from nltk.stem import WordNetLemmatizer
import numpy as np
import pandas as pd

In [2]:

nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\yogsy\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\yogsy\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [3]:
blg_df = pd.read_csv('C:/Users/yogsy/Desktop/PG Course/Project 10 - Statistical NLP Project/blogtext.csv/blogtext.csv')

In [4]:
blg_df.shape

(681284, 7)

In [5]:
blg_df.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

In [8]:
#selecting only 7500 line items

In [6]:
blg_df=blg_df[0:7500]

In [8]:
#preprocessing of data

In [7]:
blg_df=blg_df.drop(['id','date'],axis=1)

In [9]:
blg_df.head()

,gender,age,topic,sign,text
0,male,15,Student,Leo,"Info has been found (+/- 100 pages,..."
1,male,15,Student,Leo,These are the team members: Drewe...
2,male,15,Student,Leo,In het kader van kernfusie op aarde...
3,male,15,Student,Leo,testing!!! testing!!!
4,male,33,InvestmentBanking,Aquarius,Thanks to Yahoo!'s Toolbar I can ...

In [10]:
#Remove accented characters
def remove_accented_chars(text):
    text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    return text

In [12]:
blg_df['text']

0                  Info has been found (+/- 100 pages,...
1                  These are the team members:   Drewe...
2                  In het kader van kernfusie op aarde...
3                        testing!!!  testing!!!
4                    Thanks to Yahoo!'s Toolbar I can ...
5                    I had an interesting conversation...
6                    Somehow Coca-Cola has a way of su...
7                    If anything, Korea is a country o...
8                    Take a read of this news article ...
9                    I surf the English news sites a l...
10                   Ah, the Korean language...it look...
11                   If you click on my profile you'll...
12                   Last night was pretty fun...mostl...
13                   There is so much that is differen...
14                    urlLink    Here it is, the super...
15                   One thing I love about Seoul (and...
16                    urlLink    Wonderful oh-gyup-sal...
17                   Here is the latest from the Korea...
18                   Well, I stand corrected, again.  ...
19                   So I've been in Vancouver a few d...
20                   Whenever I see a pregnant Korean ...
21                   My wife posed a strange question ...
22                   As readers will know, my favorite...
23                   When I was in Seoul these last fe...
24                   You may have noticed a new featur...
25                   Korea, especially Seoul, is prett...
26                   It seems everything is not all th...
27                   This may be a long blog...got a l...
28                   I've always thought of Seoul's  u...
29                   Big cities are famous for being e...
                              ...
7470                     What Is Your Battle Cry?     ...
7471                DJS Should Appreciate This   I've ...
7472                Wisco Never Sleeps   This just in,...
7473                We have an epidemic on our hands. ...
7474                Something About the Big City?   Pa...
7475                He is Bad News/There is No Good An...
7476                Happy Halloween, Pandies.    1. Wh...
7477                No doubt on that one...  Dirty Dog...
7478               Okay, so I'm lame and all I can con...
7479               I screwed up on the cut and pastein...
7480               Um I don't know what to say about t...
7481               I guess I'm not as bad as I thought...
7482               When was the last time you visited ...
7483                Room on Fire, Reviewed  By Duf Fer...
7484                You Win Some, You Lose Some   I wa...
7485                Maybe 'Concerned' Is a Better Word...
7486               Duf, what is a 'Tootsie' or a 'Kram...
7487                Life Without the Sun  By Duf Fer  ...
7488                Room On Fire/400,000 New Yawkahs C...
7489                I'm With DJS   Getting old is a do...
7490                I Don't Want To Get Old by DJ Shov...
7491                I Can't Get Out of this City Quick...
7492                Things to do on a Rainy Day    url...
7493               DJS, allow me to explain.  Lost In ...
7494                Thanks.   I feel like I'm 112 year...
7495                Hmmm...   I guess that birthdays g...
7496                On a Serious Note...    urlLink Th...
7497                Once Again Back is the Controversi...
7498                It's Link Time, People.    urlLink...
7499                Wow.  Tough Crowd.   Hey kids.  Ju...
Name: text, Length: 7500, dtype: object

In [13]:
#Remove unwanted characters
def remove_special_characters(text, remove_digits=False):
    #Using regex
    pattern = r'[^a-zA-z0-9\s]' if not remove_digits else r'[^a-zA-z\s]' 
    text = re.sub(pattern, '', text)
    return text

In [14]:
remove_special_characters("Thanks to Yahoo!'s Toolbar I can", remove_digits=True)

'Thanks to Yahoos Toolbar I can'

In [15]:
#Convert text to lowercase
blg_df['text_new']=blg_df['text'].str.lower()

In [16]:
## Text lemmatization
def lemmatize_text(text):

    lemmatizer = WordNetLemmatizer()
    return ' '.join([lemmatizer.lemmatize(word) for word in text.split()])

In [17]:
lemmatize_text("take me home with you forever where I")

'take me home with you forever where I'

In [18]:
## Text stemming

def simple_stemmer(text):
    ps = nltk.porter.PorterStemmer()
    text = ' '.join([ps.stem(word) for word in text.split()])
    return text

In [19]:
set(stopwords.words('english'))

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [20]:
def normalize_corpus(corpus, html_stripping=True, accented_char_removal=True, text_lower_case=True, 
                     text_lemmatization=True, special_char_removal=True, 
                     stopword_removal=True, remove_digits=True):
    
    normalized_corpus = []
    # normalize each document in the corpus
    for doc in corpus:
        # lowercase the text    
        if text_lower_case:
            doc = doc.lower()
        # remove extra newlines
        doc = re.sub(r'[\r|\n|\r\n]+', ' ',doc)
        # lemmatize text
        if text_lemmatization:
            doc = lemmatize_text(doc)
        # remove special characters and\or digits    
        if special_char_removal:
            # insert spaces between special characters to isolate them    
            special_char_pattern = re.compile(r'([{.(-)!}])')
            doc = special_char_pattern.sub(" \\1 ", doc)
            doc = remove_special_characters(doc, remove_digits=remove_digits)  
        # remove extra whitespace
        doc = re.sub(' +', ' ', doc)
            
        normalized_corpus.append(doc)
        
    return normalized_corpus

In [21]:
blg_df['text_new'] =normalize_corpus(blg_df['text_new'])

In [22]:
blg_df.head()

,gender,age,topic,sign,text,text_new
0,male,15,Student,Leo,"Info has been found (+/- 100 pages,...",info ha been found pages and mb of pdf files n...
1,male,15,Student,Leo,These are the team members: Drewe...,these are the team members drewes van der laag...
2,male,15,Student,Leo,In het kader van kernfusie op aarde...,in het kader van kernfusie op aarde maak je ei...
3,male,15,Student,Leo,testing!!! testing!!!,testing testing
4,male,33,InvestmentBanking,Aquarius,Thanks to Yahoo!'s Toolbar I can ...,thanks to yahoo s toolbar i can now capture th...

In [23]:
blg_df.shape

(7500, 6)

In [24]:
##Q3. As we want to make this into a multi-label classification problem, you are required to merge all the label columns together, so that we have all the labels together for a particular sentence

In [25]:
blg_df['label'] =blg_df["gender"].map(str)+ ', ' +blg_df["age"].map(str)+ ', ' +blg_df["topic"].map(str)+ ', ' +blg_df["sign"]

In [26]:
blg_df.head()

,gender,age,topic,sign,text,text_new,label
0,male,15,Student,Leo,"Info has been found (+/- 100 pages,...",info ha been found pages and mb of pdf files n...,"male, 15, Student, Leo"
1,male,15,Student,Leo,These are the team members: Drewe...,these are the team members drewes van der laag...,"male, 15, Student, Leo"
2,male,15,Student,Leo,In het kader van kernfusie op aarde...,in het kader van kernfusie op aarde maak je ei...,"male, 15, Student, Leo"
3,male,15,Student,Leo,testing!!! testing!!!,testing testing,"male, 15, Student, Leo"
4,male,33,InvestmentBanking,Aquarius,Thanks to Yahoo!'s Toolbar I can ...,thanks to yahoo s toolbar i can now capture th...,"male, 33, InvestmentBanking, Aquarius"

In [27]:
blgdata=blg_df[['text_new','label']]

In [28]:
blgdata.head()

,text_new,label
0,info ha been found pages and mb of pdf files n...,"male, 15, Student, Leo"
1,these are the team members drewes van der laag...,"male, 15, Student, Leo"
2,in het kader van kernfusie op aarde maak je ei...,"male, 15, Student, Leo"
3,testing testing,"male, 15, Student, Leo"
4,thanks to yahoo s toolbar i can now capture th...,"male, 33, InvestmentBanking, Aquarius"

In [29]:
blgdata['label'].nunique()

114

In [30]:
blgdata.astype

<bound method NDFrame.astype of                                                text_new  \
0     info ha been found pages and mb of pdf files n...
1     these are the team members drewes van der laag...
2     in het kader van kernfusie op aarde maak je ei...
3                                      testing testing
4     thanks to yahoo s toolbar i can now capture th...
5     i had an interesting conversation with my dad ...
6     somehow cocacola ha a way of summing up thing ...
7     if anything korea is a country of extremes eve...
8     take a read of this news article from urllink ...
9     i surf the english news site a lot looking for...
10    ah the korean language it look so difficult at...
11    if you click on my profile youll make a notsos...
12    last night wa pretty fun mostly because of the...
13    there is so much that is different here from a...
14    urllink here it is the superfantastic phonebox...
15    one thing i love about seoul and i mean this a...
16    urllink wonderful ohgyupsal at my favorite por...
17    here is the latest from the korean rumor mill ...
18    well i stand corrected again yesterday i blogg...
19    so ive been in vancouver a few day now in coqu...
20    whenever i see a pregnant korean lady i really...
21    my wife posed a strange question to me tonight...
22    a reader will know my favorite airline is sing...
23    when i wa in seoul these last few month i thou...
24    you may have noticed a new feature on my blog ...
25    korea especially seoul is pretty cool and cana...
26    it seems everything is not all that smooth in ...
27    this may be a long blog got a lot of thought g...
28    ive always thought of seouls urllink subway a ...
29    big city are famous for being expensive place ...
...                                                 ...
7470  what is your battle cry r unning on the tarmac...
7471  dj should appreciate this ive recently applied...
7472  wisco never sleep this just in from a fellow w...
7473  we have an epidemic on our hands dont you guy ...
7474  something about the big city part of the reaso...
7475  he is bad newsthere is no good answer by afric...
7476  happy halloween pandies what wa your first hal...
7477  no doubt on that one dirty dog duf fer my life...
7478  okay so im lame and all i can contribute are t...
7479  i screwed up on the cut and pasteing part but ...
7480  um i dont know what to say about this my hedon...
7481  i guess im not a bad a i thought the dantes in...
7482    when wa the last time you visited urllink this
7483  room on fire reviewed by duf fer i got the new...
7484  you win some you lose some i wa in detroit the...
7485  maybe concerned is a better word by duf fer i ...
7486  duf what is a tootsie or a kramer vs kramer th...
7487  life without the sun by duf fer back in the da...
7488  room on fire new yawkahs cant be wrong by duf ...
7489  im with dj getting old is a doubleedged sword ...
7490  i dont want to get old by dj shovelpants all r...
7491  i cant get out of this city quick enough ive f...
7492  thing to do on a rainy day urllink watch this ...
7493  djs allow me to explain lost in translation is...
7494  thanks i feel like im year old this aging shit...
7495  hmmm i guess that birthday get le and le noted...
7496  on a serious note urllink this make me oh so v...
7497  once again back is the controversial by duf i ...
7498  its link time people urllink this year im hand...
7499  wow tough crowd hey kids just got back from ma...

                                      label
0                    male, 15, Student, Leo
1                    male, 15, Student, Leo
2                    male, 15, Student, Leo
3                    male, 15, Student, Leo
4     male, 33, InvestmentBanking, Aquarius
5     male, 33, InvestmentBanking, Aquarius
6     male, 33, InvestmentBanking, Aquarius
7     male, 33, InvestmentBanking, Aquarius
8     male, 33, InvestmentBanking, Aquarius
9     male, 33, InvestmentBanking, Aquarius
10    male, 33, InvestmentBanking, Aquarius
11    male, 33, InvestmentBanking, Aquarius
12    male, 33, InvestmentBanking, Aquarius
13    male, 33, InvestmentBanking, Aquarius
14    male, 33, InvestmentBanking, Aquarius
15    male, 33, InvestmentBanking, Aquarius
16    male, 33, InvestmentBanking, Aquarius
17    male, 33, InvestmentBanking, Aquarius
18    male, 33, InvestmentBanking, Aquarius
19    male, 33, InvestmentBanking, Aquarius
20    male, 33, InvestmentBanking, Aquarius
21    male, 33, InvestmentBanking, Aquarius
22    male, 33, InvestmentBanking, Aquarius
23    male, 33, InvestmentBanking, Aquarius
24    male, 33, InvestmentBanking, Aquarius
25    male, 33, InvestmentBanking, Aquarius
26    male, 33, InvestmentBanking, Aquarius
27    male, 33, InvestmentBanking, Aquarius
28    male, 33, InvestmentBanking, Aquarius
29    male, 33, InvestmentBanking, Aquarius
...                                     ...
7470               male, 36, Fashion, Aries
7471               male, 36, Fashion, Aries
7472               male, 36, Fashion, Aries
7473               male, 36, Fashion, Aries
7474               male, 36, Fashion, Aries
7475               male, 36, Fashion, Aries
7476               male, 36, Fashion, Aries
7477               male, 36, Fashion, Aries
7478               male, 36, Fashion, Aries
7479               male, 36, Fashion, Aries
7480               male, 36, Fashion, Aries
7481               male, 36, Fashion, Aries
7482               male, 36, Fashion, Aries
7483               male, 36, Fashion, Aries
7484               male, 36, Fashion, Aries
7485               male, 36, Fashion, Aries
7486               male, 36, Fashion, Aries
7487               male, 36, Fashion, Aries
7488               male, 36, Fashion, Aries
7489               male, 36, Fashion, Aries
7490               male, 36, Fashion, Aries
7491               male, 36, Fashion, Aries
7492               male, 36, Fashion, Aries
7493               male, 36, Fashion, Aries
7494               male, 36, Fashion, Aries
7495               male, 36, Fashion, Aries
7496               male, 36, Fashion, Aries
7497               male, 36, Fashion, Aries
7498               male, 36, Fashion, Aries
7499               male, 36, Fashion, Aries

[7500 rows x 2 columns]>

In [31]:
##Separate features and labels, and split the data into training and testing

In [32]:
X=blgdata['text_new']
Y=blgdata['label']
print(X.shape)
print(Y.shape)

(7500,)
(7500,)

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,random_state=2)

In [35]:
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(5625,) (5625,)
(1875,) (1875,)

In [36]:
##Vectorize the features
##Create a dictionary to get the count of every label i.e. the key will be label name and value will be the total count of the label.

In [37]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range=(1, 2),stop_words='english')

In [38]:
cv.fit(X_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 2), preprocessor=None, stop_words='english',
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [39]:
len(cv.vocabulary_)

334387

In [40]:
cv.vocabulary_

{'urllink': 305274,
 'princess': 223607,
 'bride': 30892,
 'character': 41555,
 'quiz': 228977,
 'wa': 311094,
 'mysti': 190985,
 'cheated': 42130,
 'result': 239498,
 'turn': 300841,
 'buttercup': 34293,
 'just': 149920,
 'yeah': 330887,
 'working': 327432,
 'btw': 32298,
 'hate': 123885,
 'quizzes': 229034,
 'stumble': 275629,
 'em': 82853,
 'figure': 96772,
 'id': 135933,
 'share': 255202,
 'cause': 39277,
 'thats': 286046,
 'urllink urllink': 306658,
 'urllink princess': 306306,
 'princess bride': 223608,
 'bride character': 30894,
 'character quiz': 41626,
 'quiz wa': 229005,
 'wa urllink': 313673,
 'urllink mysti': 306155,
 'mysti cheated': 190986,
 'cheated result': 42140,
 'result turn': 239563,
 'turn wa': 301062,
 'wa buttercup': 311405,
 'buttercup just': 34294,
 'just yeah': 151291,
 'yeah working': 331130,
 'working btw': 327445,
 'btw hate': 32315,
 'hate quizzes': 124068,
 'quizzes just': 229037,
 'just stumble': 151100,
 'stumble em': 275634,
 'em figure': 82871,
 'figure id': 96827,
 'id share': 136129,
 'share cause': 255214,
 'cause thats': 39452,
 'jls': 147819,
 'regard': 235515,
 'protest': 225943,
 'bushs': 33899,
 'visit': 310209,
 'england': 84736,
 'said': 245450,
 'shame': 255039,
 'people': 210267,
 'organized': 204064,
 'express': 90221,
 'anger': 8277,
 'honest': 131604,
 'effort': 81882,
 'energy': 84529,
 'expended': 89552,
 'end': 83856,
 'brief': 30981,
 'catharsis': 39039,
 'nick': 195937,
 'responded': 238959,
 'conclusions': 52659,
 'did': 69434,
 'think': 288647,
 'response': 239002,
 'agree': 4789,
 'ok': 201136,
 'bush': 33711,
 'unwelcome': 304657,
 'point': 218060,
 'stop': 272879,
 'war': 316442,
 'little': 167568,
 'pointless': 218444,
 'like': 163849,
 'protesting': 225988,
 'boer': 27481,
 'theres': 286903,
 'shooting': 256786,
 'air': 5314,
 'bombardment': 27645,
 'going': 111282,
 'iraq': 144497,
 'wasnt': 317081,
 'march': 177487,
 'kind': 153288,
 'angles': 8409,
 'focusing': 100273,
 'fact': 91510,
 'didnt': 70020,
 'want': 315348,
 'counted': 56729,
 'silent': 259038,
 'majority': 175240,
 'welcoming': 321076,
 'britain': 31395,
 'extension': 90369,
 'tacitly': 280775,
 'approving': 11043,
 'various': 308511,
 'charming': 41916,
 'exploits': 90105,
 'clampdown': 45581,
 'civil': 45400,
 'liberty': 162459,
 'missile': 185341,
 'defense': 66334,
 'kyoto': 156545,
 'protocol': 226019,
 'stance': 269635,
 'icc': 135789,
 'international': 143467,
 'criminal': 59418,
 'court': 57586,
 'online': 202456,
 'chess': 42791,
 'site': 260393,
 'illegal': 137329,
 'holding': 130532,
 'prisoners': 223781,
 'including': 140135,
 'british': 31406,
 'citizens': 45156,
 'guantanamo': 117705,
 'bay': 19688,
 'having': 124530,
 'seized': 252330,
 'power': 221123,
 'worlds': 328164,
 'powerful': 221277,
 'country': 56850,
 'important': 139386,
 'ally': 6682,
 'flagrant': 98926,
 'disregard': 72890,
 'democracy': 67159,
 'blairs': 25332,
 'offering': 200226,
 'mother': 188389,
 'photoops': 213424,
 'phrase': 213479,
 'come': 49350,
 'exforeign': 89091,
 'secretary': 251520,
 'incumbent': 140501,
 'reelection': 235111,
 'year': 331150,
 'head': 125032,
 'labour': 156766,
 'party': 208022,
 'pretty': 222869,
 'perverse': 212546,
 'prime': 223552,
 'minister': 184296,
 'grant': 115743,
 'pr': 221439,
 'boost': 28351,
 'extreme': 90548,
 'republican': 238196,
 'administration': 3209,
 'repeat': 237657,
 'question': 228043,
 'addressed': 3078,
 'concern': 52424,
 'countries': 56837,
 'policy': 218627,
 'safe': 245293,
 'say': 247800,
 'issue': 145358,
 'immediately': 139041,
 'list': 167015,
 'arent': 11445,
 'great': 116032,
 'thing': 287580,
 'changing': 41330,
 'tactic': 280859,
 'overhauling': 205082,
 'foreign': 101385,
 'middle': 183055,
 'east': 80538,
 'overall': 204954,
 'oh': 200647,
 'immediate': 139023,
 'moratorium': 187858,
 'contract': 54625,
 'multinational': 190042,
 'company': 51128,
 'based': 19057,
 'invading': 144012,
 'powers': 221331,
 'hand': 121596,
 'control': 54755,
 'arab': 11160,
 'league': 159833,
 'resolution': 238746,
 'pledging': 217339,
 'aid': 5165,
 'restoration': 239426,
 'invader': 144008,
 'occupation': 199741,
 'asap': 12754,
 'im': 137490,
 'speaking': 267137,
 'post': 220255,
 'regarding': 235551,
 'different': 70737,
 'flag': 98867,
 'scenario': 249170,
 'clever': 46412,
 'hilarious': 129289,
 'helped': 127661,
 'absurdity': 807,
 'notion': 198238,
 'make': 175298,
 'burn': 33415,
 'destroy': 68602,
 'symbol': 280477,
 'definition': 66587,
 'truly': 299524,
 'destroyed': 68628,
 'damnit': 62142,
 'tangible': 282257,
 'represents': 238128,
 'jls regard': 147832,
 'regard protest': 235537,
 'protest bushs': 225947,
 'bushs visit': 33921,
 'visit england': 310240,
 'england said': 84758,
 'said shame': 245909,
 'shame people': 255062,
 'people organized': 210831,
 'organized express': 204069,
 'express anger': 90222,
 'anger honest': 8298,
 'honest effort': 131611,
 'effort energy': 81900,
 'energy expended': 84562,
 'expended end': 89553,
 'end brief': 83877,
 'brief catharsis': 30983,
 'catharsis nick': 39043,
 'nick responded': 195972,
 'responded conclusions': 238962,
 'conclusions did': 52660,
 'did think': 69936,
 'think response': 289350,
 'response agree': 239003,
 'agree protest': 4856,
 'protest ok': 225955,
 'ok bush': 201155,
 'bush unwelcome': 33866,
 'unwelcome point': 304662,
 'point stop': 218323,
 'stop war': 273103,
 'war protest': 316576,
 'protest little': 225953,
 'little pointless': 168054,
 'pointless war': 218457,
 'war thats': 316611,
 'thats like': 286288,
 'like protesting': 165255,
 'protesting boer': 225989,
 'boer war': 27483,
 'war theres': 316613,
 'theres shooting': 287125,
 'shooting air': 256787,
 'air bombardment': 5325,
 'bombardment going': 27646,
 'going iraq': 111697,
 'iraq wasnt': 144641,
 'wasnt point': 317212,
 'point march': 218227,
 'march wa': 177525,
 'wa kind': 312440,
 'kind angles': 153296,
 'angles focusing': 8411,
 'focusing bush': 100274,
 'bush fact': 33756,
 'fact people': 91660,
 'people didnt': 210470,
 'didnt want': 70357,
 'want counted': 315486,
 'counted silent': 56743,
 'silent majority': 259055,
 'majority welcoming': 175285,
 'welcoming britain': 321077,
 'britain extension': 31398,
 'extension tacitly': 90377,
 'tacitly approving': 280776,
 'approving various': 11044,
 'various charming': 308522,
 'charming exploits': 41918,
 'exploits iraq': 90106,
 'iraq clampdown': 144517,
 'clampdown civil': 45582,
 'civil liberty': 45407,
 'liberty missile': 162467,
 'missile defense': 185345,
 'defense kyoto': 66354,
 'kyoto protocol': 156550,
 'protocol stance': 226021,
 'stance icc': 269640,
 'icc international': 135790,
 'international criminal': 143483,
 'criminal court': 59424,
 'court online': 57624,
 'online chess': 202464,
 'chess site': 42797,
 'site illegal': 260464,
 'illegal holding': 137340,
 'holding prisoners': 130569,
 'prisoners including': 223783,
 'including british': 140143,
 'british citizens': 31408,
 'citizens guantanamo': 45157,
 'guantanamo bay': 117706,
 'bay little': 19701,
 'little fact': 167782,
 'fact having': 91597,
 'having seized': 124814,
 'seized power': 252331,
 'power worlds': 221258,
 'worlds powerful': 328181,
 'powerful country': 221283,
 'country important': 56932,
 'important ally': 139389,
 'ally flagrant': 6686,
 'flagrant disregard': 98927,
 'disregard democracy': 72891,
 'democracy wa': 67172,
 'wa protest': 313003,
 'protest blairs': 225945,
 'blairs offering': 25333,
 'offering country': 200230,
 'country mother': 56956,
 'mother photoops': 188481,
 'photoops phrase': 213425,
 'phrase come': 213482,
 'come exforeign': 49506,
 'exforeign secretary': 89092,
 'secretary incumbent': 251527,
 'incumbent reelection': 140503,
 'reelection year': 235118,
 'year head': 331332,
 'head labour': 125168,
 'labour party': 156769,
 'party pretty': 208165,
 'pretty perverse': 223064,
 'perverse prime': 212547,
 'prime minister': 223559,
 'minister grant': 184301,
 'grant pr': 115755,
 'pr boost': 221441,
 'boost pretty': 28356,
 'pretty extreme': 222953,
 'extreme republican': 90574,
 'republican administration': 238198,
 'administration said': 3238,
 'said repeat': 245880,
 'repeat question': 237681,
 'question nick': 228176,
 'responded addressed': 238960,
 'addressed concern': 3080,
 'concern people': 52444,
 'people countries': 210435,
 'countries including': 56842,
 'including regard': 140194,
 'regard bushs': 235518,
 'bushs policy': 33912,
 'policy iraq': 218649,
 'iraq safe': 144613,
 'safe say': 245335,
 'say issue': 248126,
 'issue addressed': 145362,
 'addressed immediately': 3084,
 'immediately response': 139077,
 'response list': 239036,
 'list arent': 167020,
 'arent great': 11488,
 'great thing': 116348,
 'thing changing': 287694,
 'changing tactic': 41362,
 'tactic iraq': 280865,
 'iraq overhauling': 144595,
 'overhauling foreign': 205083,
 'foreign policy': 101411,
 'policy middle': 218656,
 'middle east': 183079,
 'east overall': 80557,
 'overall oh': 204979,
 'oh yeah': 200952,
 'yeah iraq': 330992,
 'iraq immediate': 144568,
 'immediate moratorium': 139034,
 'moratorium contract': 187859,
 'contract multinational': 54636,
 'multinational company': 190043,
 'company based': 51139,
 'based invading': 19088,
 'invading powers': 144015,
 'powers hand': 221333,
 'hand control': 121641,
 'control arab': 54761,
 'arab league': 11164,
 'league resolution': 159856,
 'resolution pledging': 238762,
 'pledging aid': 217340,
 'aid restoration': 5184,
 'restoration democracy': 239427,
 'democracy invader': 67166,
 'invader end': 144010,
 'end occupation': 84047,
 'occupation asap': 199742,
 'asap im': 12758,
 'im just': 138053,
 'just speaking': 151050,
 'speaking head': 267162,
 'head post': 125221,
 'post regarding': 220464,
 'regarding different': 235559,
 'different flag': 70802,
 'flag scenario': 98912,
 'scenario clever': 249171,
 'clever hilarious': 46421,
 'hilarious helped': 129299,
 'helped point': 127692,
 'point absurdity': 218062,
 'absurdity notion': 809,
 'notion make': 198244,
 'make illegal': 175600,
 'illegal burn': 137332,
 'burn destroy': 33427,
 'destroy symbol': 68624,
 'symbol definition': 280484,
 'definition truly': 66612,
 'truly destroyed': 299544,
 'destroyed symbol': 68636,
 'symbol damnit': 280483,
 'damnit tangible': 62155,
 'tangible thing': 282262,
 'thing represents': 288227,
 'welcome': 321002,
 'newest': 195191,
 'reader': 231549,
 'justin': 151363,
 'thanks': 285796,
 'comment': 50484,
 'love': 172375,
 'comments': 50666,
 'welcome newest': 321047,
 'newest reader': 195214,
 'reader justin': 231569,
 'justin thanks': 151368,
 'thanks comment': 285829,
 'comment love': 50549,
 'love comments': 172494,
 'work': 326666,
 'day': 63346,
 'camp': 36215,
 'kids': 152886,
 'wouldnt': 328756,
 'believe': 21574,
 'story': 273444,
 'ive': 145774,
 'heard': 125821,
 'detach': 68680,
 'live': 168336,
 'reals': 233376,
 'kid': 152553,
 'born': 28708,
 'flame': 98966,
 'painted': 206227,
 'fingernails': 98114,
 'amazing': 7148,
 'fall': 92323,
 'detaching': 68684,
 'finger': 98057,
 'trick': 298430,
 'interesting': 143189,
 'real': 231996,
 'fake': 92264,
 'ignorant': 136748,
 'beginning': 21230,
 'wonder': 325476,
 'reality': 232285,
 'actual': 2152,
 'huge': 134418,
 'work day': 326800,
 'day camp': 63438,
 'camp little': 36241,
 'little kids': 167921,
 'kids wouldnt': 152968,
 'wouldnt believe': 328765,
 'believe story': 21784,
 'story ive': 273537,
 'ive heard': 145946,
 'heard kids': 125911,
 'kids ive': 152922,
 'heard detach': 125871,
 'detach head': 68681,
 'head live': 125177,
 'live reals': 168536,
 'reals kid': 233377,
 'kid wa': 152780,
 'wa born': 311348,
 'born flame': 28729,
 'flame painted': 98980,
 'painted fingernails': 206233,
 'fingernails amazing': 98115,
 'amazing kid': 7193,
 'kid fall': 152625,
 'fall detaching': 92349,
 'detaching finger': 68685,
 'finger trick': 98103,
 'trick interesting': 298443,
 'interesting think': 143338,
 'think real': 289325,
 'real fake': 232048,
 'fake ignorant': 92278,
 'ignorant im': 136756,
 'im beginning': 137577,
 'beginning wonder': 21316,
 'wonder reality': 325592,
 'reality fake': 232310,
 'fake kids': 92282,
 'kids believe': 152891,
 'believe real': 21755,
 'real actual': 231998,
 'actual reality': 2193,
 'reality believe': 232294,
 'believe reality': 21756,
 'reality huge': 232316,
 'huge story': 134515,
 'pardon': 207280,
 'bizarre': 25002,
 'humor': 134853,
 'high': 128896,
 'pain': 206040,
 'killers': 153182,
 'gone': 112405,
 'right': 240905,
 'murder': 190227,
 'wrote': 329923,
 'best': 22425,
 'pardon bizarre': 207281,
 'bizarre humor': 25005,
 'humor im': 134871,
 'im high': 137986,
 'high pain': 128972,
 'pain killers': 206096,
 'killers gone': 153184,
 'gone right': 112533,
 'right murder': 241258,
 'murder wrote': 190257,
 'wrote like': 329969,
 'like best': 163994,
 'sconie': 250003,
 'say sconie': 248342,
 'sconie didnt': 250004,
 'orlando': 204250,
 'bloom': 26629,
 'brought': 31929,
 'quizilla': 229010,
 'urllink orlando': 306224,
 'orlando bloom': 204251,
 'bloom brought': 26630,
 'brought urllink': 32022,
 'urllink quizilla': 306329,
 'posting': 220691,
 'mir': 184748,
 'maybe': 179210,
 'clark': 45653,
 'someones': 264726,
 'vp': 311013,
 'sound': 266230,
 'good': 112776,
 'fellow': 95778,
 'god': 110881,
 'man': 176513,
 'job': 147889,
 'daringly': 62649,
 'description': 68051,
 'position': 219872,
 'confused': 53092,
 'saddam': 245163,
 'role': 242675,
 'attack': 14413,
 'thanks posting': 285934,
 'posting mir': 220724,
 'mir maybe': 184771,
 'maybe clark': 179253,
 'clark someones': 45665,
 'someones vp': 264746,
 'vp sound': 311016,
 'sound like': 266305,
 'like good': 164571,
 'good fellow': 112982,
 'fellow jls': 95796,
 'jls good': 147825,
 'good god': 113024,
 'god man': 111001,
 'man job': 176669,
 'job wa': 148154,
 'wa daringly': 311670,
 'daringly honest': 62650,
 'honest description': 131610,
 'description position': 68060,
 'position oh': 219902,
 'oh confused': 200684,
 'confused urllink': 53133,
 'urllink saddam': 306400,
 'saddam role': 245180,
 'role attack': 242677,
 'thinking': 289654,
 'visiting': 310350,
 'hal': 120982,
 'stoner': 272726,
 'minneapolis': 184349,
 'reconsider': 234512,
 'vermin': 309117,
 'guy': 118546,
 'need': 193286,
 'clean': 46023,
 'place': 215356,
 'talk': 281433,
 'thought': 290145,
 'silverfish': 259170,
 'problem': 224245,
 'sneaky': 263524,
 'bastard': 19378,
 'window': 323855,
 'sill': 259090,
 'drat': 77123,
 'wa thinking': 313548,
 'thinking visiting': 289877,
 'visiting hal': 310360,
 'hal stoner': 121085,
 'stoner minneapolis': 272770,
 'minneapolis reconsider': 184360,
 'reconsider vermin': 234516,
 'vermin guy': 309118,
 'guy need': 118817,
 'need clean': 193368,
 'clean place': 46080,
 'place talk': 215725,
 'talk just': 281570,
 'just thought': 151149,
 'thought silverfish': 290511,
 'silverfish problem': 259173,
 'problem control': 224278,
 'control sneaky': 54845,
 'sneaky bastard': 263525,
 'bastard window': 19401,
 'window sill': 323927,
 'sill drat': 259091,
 'whens': 322477,
 'time': 291950,
 'saw': 247492,
 'american': 7466,
 'congressman': 53296,
 'pull': 226771,
 'stunt': 275695,
 'bc': 19806,
 'agricultural': 4926,
 'subsidy': 276240,
 'vetod': 309316,
 'answer': 9020,
 'way': 318190,
 'political': 218717,
 'climate': 46581,
 'shaping': 255187,
 'surprise': 279181,
 'getting': 108670,
 'fired': 98344,
 'really': 232607,
 'michael': 182904,
 'moore': 187721,
 'threaten': 290796,
 'commit': 50789,
 'suicide': 277158,
 'reelected': 235105,
 'follow': 100449,
 'wins': 324231,
 'whens time': 322480,
 'time saw': 292777,
 'saw american': 247498,
 'american congressman': 7494,
 'congressman pull': 53300,
 'pull urllink': 226829,
 'urllink stunt': 306545,
 'stunt like': 275698,
 'like bc': 163977,
 'bc agricultural': 19808,
 'agricultural subsidy': 4928,
 'subsidy wa': 276241,
 'wa vetod': 313689,
 'vetod answer': 309317,
 'answer urllink': 9121,
 'urllink way': 306698,
 'way political': 318638,
 'political climate': 218730,
 'climate shaping': 46586,
 'shaping wouldnt': 255190,
 'wouldnt surprise': 328880,
 'surprise people': 279219,
 'people getting': 210585,
 'getting fired': 108770,
 'fired like': 98354,
 'like guy': 164597,
 'guy id': 118732,
 'id really': 136108,
 'really like': 232984,
 'like michael': 164956,
 'michael moore': 182920,
 'moore threaten': 187752,
 'threaten commit': 290797,
 'commit suicide': 50794,
 'suicide bush': 277162,
 'bush reelected': 33823,
 'reelected follow': 235108,
 'follow bush': 100454,
 'bush wins': 33877,
 'nope': 197414,
 'keeeeeeeeeep': 151826,
 'walkin': 314811,
 'rmn': 242030,
 'rail': 229746,
 'claim': 45466,
 'simply': 259444,
 'doesnt': 74413,
 'exist': 89183,
 'does': 74359,
 'rightwing': 241564,
 'religious': 236579,
 'fundy': 105815,
 'propaganda': 225598,
 'idea': 136190,
 'hed': 126605,
 'example': 88401,
 'reasons': 233726,
 'banned': 18400,
 'refuse': 235452,
 'read': 231183,
 'link': 166675,
 'posted': 220591,
 'fuck': 104979,
 'respond': 238930,
 'classic': 45886,
 'rd': 230930,
 'grade': 115335,
 'approach': 10923,
 'debate': 65192,
 'ensues': 85244,
 'sling': 262202,
 'insult': 142772,
 'hope': 131983,
 'change': 40972,
 'topic': 295882,
 'lol': 169509,
 'know': 154646,
 'given': 109970,
 'lack': 156787,
 'coverage': 57882,
 'big': 23547,
 'media': 180648,
 'noted': 198007,
 'glenn': 110488,
 'reynolds': 240316,
 'worn': 328205,
 'paperback': 207061,
 'baby': 16698,
 'sighs': 258660,
 'funny': 105921,
 'today': 293828,
 'ha': 119217,
 'actually': 2212,
 'super': 277946,
 'relaxing': 236317,
 'havent': 124362,
 'stupid': 275708,
 'bullshit': 33039,
 'asshatted': 13750,
 'liberals': 162416,
 'nearing': 193030,
 'true': 299312,
 'fanatic': 93075,
 'cut': 60927,
 'civilian': 45413,
 'person': 211931,
 'world': 327707,
 'disgusting': 72553,
 'father': 93933,
 'trying': 300118,
 'politicize': 218818,
 'respect': 238836,
 'dead': 64563,
 'disagree': 71870,
 'motivation': 188631,
 'sons': 265268,
 'actions': 1988,
 'memory': 181517,
 'shutting': 258144,
 'ill': 136934,
 'tell': 283913,
 'sure': 278664,
 'nice': 195597,
 'ims': 139791,
 'email': 82909,
 'friend': 103776,
 'board': 27033,
 'talking': 281835,
 'banning': 18422,
 'guess': 117816,
 'banner': 18410,
 'save': 247305,
 'triguy': 298687,
 'use': 306860,
 'sig': 258559,
 'banners': 18419,
 'heh': 126761,
 'isnt': 145079,
 'shit': 256250,
 'guys': 119031,
 'urllink nope': 306191,
 'nope just': 197423,
 'just keeeeeeeeeep': 150569,
 'keeeeeeeeeep walkin': 151827,
 'walkin urllink': 314814,
 'urllink thing': 306593,
 'thing kid': 288000,
 'kid rmn': 152736,
 'rmn rail': 242033,
 'rail claim': 229748,
 'claim simply': 45506,
 'simply doesnt': 259473,
 'doesnt exist': 74471,
 'exist does': 89187,
 'does rightwing': 74395,
 'rightwing religious': 241566,
 'religious fundy': 236601,
 'fundy propaganda': 105816,
 'propaganda idea': 225601,
 'idea hed': 136289,
 'hed say': 126630,
 'say example': 247987,
 'example reasons': 88466,
 'reasons im': 233737,
 'im banned': 137563,
 'banned refuse': 18407,
 'refuse read': 235466,
 'read link': 231354,
 'link ive': 166733,
 'ive posted': 146075,
 'posted did': 220604,
 'did read': 69824,
 'read way': 231529,
 'way fuck': 318412,
 'fuck respond': 105043,
 'respond bc': 238934,
 'bc theres': 19877,
 'theres say': 287118,
 'say classic': 247896,
 'classic rd': 45903,
 'rd grade': 230944,
 'grade approach': 115339,
 'approach debate': 10930,
 'debate ensues': 65197,
 'ensues sling': 85247,
 'sling insult': 262206,
 'insult hope': 142778,
 'hope change': 132010,
 'change topic': 41185,
 'topic lol': 295912,
 'lol know': 169566,
 'know given': 155016,
 'given urllink': 110090,
 'urllink lack': 306010,
 'lack coverage': 156801,
 'coverage big': 57884,
 'big media': 23697,
 'media noted': 180654,
 'noted glenn': 198017,
 'glenn reynolds': 110491,
 'reynolds like': 240318,
 'like worn': 165853,
 'worn paperback': 328217,
 'paperback baby': 207062,
 'baby sighs': 16830,

In [41]:
x_train_dtm=cv.transform(X_train)

In [42]:
x_test_dtm=cv.transform(X_test)

In [43]:
x_train_dtm[0]

<1x334387 sparse matrix of type '<class 'numpy.int64'>'
	with 51 stored elements in Compressed Sparse Row format>

In [44]:
x_test_dtm[0]

<1x334387 sparse matrix of type '<class 'numpy.int64'>'
	with 19 stored elements in Compressed Sparse Row format>

In [45]:
print(x_train_dtm.shape)
print(x_test_dtm.shape)

(5625, 334387)
(1875, 334387)

In [46]:
x_train_dtm

<5625x334387 sparse matrix of type '<class 'numpy.int64'>'
	with 671849 stored elements in Compressed Sparse Row format>

In [47]:
x_test_dtm

<1875x334387 sparse matrix of type '<class 'numpy.int64'>'
	with 120755 stored elements in Compressed Sparse Row format>

In [48]:
print('Features: ', x_train_dtm.shape[1])

Features:  334387

In [49]:
print('Features: ', x_test_dtm.shape[1])

Features:  334387

In [50]:
print(blgdata)

                                               text_new  \
0     info ha been found pages and mb of pdf files n...
1     these are the team members drewes van der laag...
2     in het kader van kernfusie op aarde maak je ei...
3                                      testing testing
4     thanks to yahoo s toolbar i can now capture th...
5     i had an interesting conversation with my dad ...
6     somehow cocacola ha a way of summing up thing ...
7     if anything korea is a country of extremes eve...
8     take a read of this news article from urllink ...
9     i surf the english news site a lot looking for...
10    ah the korean language it look so difficult at...
11    if you click on my profile youll make a notsos...
12    last night wa pretty fun mostly because of the...
13    there is so much that is different here from a...
14    urllink here it is the superfantastic phonebox...
15    one thing i love about seoul and i mean this a...
16    urllink wonderful ohgyupsal at my favorite por...
17    here is the latest from the korean rumor mill ...
18    well i stand corrected again yesterday i blogg...
19    so ive been in vancouver a few day now in coqu...
20    whenever i see a pregnant korean lady i really...
21    my wife posed a strange question to me tonight...
22    a reader will know my favorite airline is sing...
23    when i wa in seoul these last few month i thou...
24    you may have noticed a new feature on my blog ...
25    korea especially seoul is pretty cool and cana...
26    it seems everything is not all that smooth in ...
27    this may be a long blog got a lot of thought g...
28    ive always thought of seouls urllink subway a ...
29    big city are famous for being expensive place ...
...                                                 ...
7470  what is your battle cry r unning on the tarmac...
7471  dj should appreciate this ive recently applied...
7472  wisco never sleep this just in from a fellow w...
7473  we have an epidemic on our hands dont you guy ...
7474  something about the big city part of the reaso...
7475  he is bad newsthere is no good answer by afric...
7476  happy halloween pandies what wa your first hal...
7477  no doubt on that one dirty dog duf fer my life...
7478  okay so im lame and all i can contribute are t...
7479  i screwed up on the cut and pasteing part but ...
7480  um i dont know what to say about this my hedon...
7481  i guess im not a bad a i thought the dantes in...
7482    when wa the last time you visited urllink this
7483  room on fire reviewed by duf fer i got the new...
7484  you win some you lose some i wa in detroit the...
7485  maybe concerned is a better word by duf fer i ...
7486  duf what is a tootsie or a kramer vs kramer th...
7487  life without the sun by duf fer back in the da...
7488  room on fire new yawkahs cant be wrong by duf ...
7489  im with dj getting old is a doubleedged sword ...
7490  i dont want to get old by dj shovelpants all r...
7491  i cant get out of this city quick enough ive f...
7492  thing to do on a rainy day urllink watch this ...
7493  djs allow me to explain lost in translation is...
7494  thanks i feel like im year old this aging shit...
7495  hmmm i guess that birthday get le and le noted...
7496  on a serious note urllink this make me oh so v...
7497  once again back is the controversial by duf i ...
7498  its link time people urllink this year im hand...
7499  wow tough crowd hey kids just got back from ma...

                                      label
0                    male, 15, Student, Leo
1                    male, 15, Student, Leo
2                    male, 15, Student, Leo
3                    male, 15, Student, Leo
4     male, 33, InvestmentBanking, Aquarius
5     male, 33, InvestmentBanking, Aquarius
6     male, 33, InvestmentBanking, Aquarius
7     male, 33, InvestmentBanking, Aquarius
8     male, 33, InvestmentBanking, Aquarius
9     male, 33, InvestmentBanking, Aquarius
10    male, 33, InvestmentBanking, Aquarius
11    male, 33, InvestmentBanking, Aquarius
12    male, 33, InvestmentBanking, Aquarius
13    male, 33, InvestmentBanking, Aquarius
14    male, 33, InvestmentBanking, Aquarius
15    male, 33, InvestmentBanking, Aquarius
16    male, 33, InvestmentBanking, Aquarius
17    male, 33, InvestmentBanking, Aquarius
18    male, 33, InvestmentBanking, Aquarius
19    male, 33, InvestmentBanking, Aquarius
20    male, 33, InvestmentBanking, Aquarius
21    male, 33, InvestmentBanking, Aquarius
22    male, 33, InvestmentBanking, Aquarius
23    male, 33, InvestmentBanking, Aquarius
24    male, 33, InvestmentBanking, Aquarius
25    male, 33, InvestmentBanking, Aquarius
26    male, 33, InvestmentBanking, Aquarius
27    male, 33, InvestmentBanking, Aquarius
28    male, 33, InvestmentBanking, Aquarius
29    male, 33, InvestmentBanking, Aquarius
...                                     ...
7470               male, 36, Fashion, Aries
7471               male, 36, Fashion, Aries
7472               male, 36, Fashion, Aries
7473               male, 36, Fashion, Aries
7474               male, 36, Fashion, Aries
7475               male, 36, Fashion, Aries
7476               male, 36, Fashion, Aries
7477               male, 36, Fashion, Aries
7478               male, 36, Fashion, Aries
7479               male, 36, Fashion, Aries
7480               male, 36, Fashion, Aries
7481               male, 36, Fashion, Aries
7482               male, 36, Fashion, Aries
7483               male, 36, Fashion, Aries
7484               male, 36, Fashion, Aries
7485               male, 36, Fashion, Aries
7486               male, 36, Fashion, Aries
7487               male, 36, Fashion, Aries
7488               male, 36, Fashion, Aries
7489               male, 36, Fashion, Aries
7490               male, 36, Fashion, Aries
7491               male, 36, Fashion, Aries
7492               male, 36, Fashion, Aries
7493               male, 36, Fashion, Aries
7494               male, 36, Fashion, Aries
7495               male, 36, Fashion, Aries
7496               male, 36, Fashion, Aries
7497               male, 36, Fashion, Aries
7498               male, 36, Fashion, Aries
7499               male, 36, Fashion, Aries

[7500 rows x 2 columns]

In [51]:
pd.value_counts(blgdata['label'])

male, 35, Technology, Aries                2294
male, 36, Fashion, Aries                   1200
female, 27, indUnk, Taurus                  605
female, 17, indUnk, Scorpio                 558
female, 34, indUnk, Sagittarius             532
female, 24, indUnk, Scorpio                 191
female, 17, indUnk, Cancer                  139
female, 15, Student, Libra                  131
male, 24, Engineering, Libra                119
female, 27, Education, Aquarius              85
male, 17, Sports-Recreation, Capricorn       75
male, 33, InvestmentBanking, Aquarius        70
female, 15, Student, Aquarius                62
female, 36, indUnk, Pisces                   59
male, 23, indUnk, Sagittarius                49
male, 39, Communications-Media, Libra        47
male, 25, Non-Profit, Cancer                 46
male, 14, Student, Scorpio                   46
male, 26, indUnk, Gemini                     44
male, 14, indUnk, Scorpio                    42
male, 14, Student, Leo                       37
female, 17, Student, Leo                     37
male, 26, indUnk, Leo                        35
male, 25, Technology, Aries                  34
male, 15, Student, Aquarius                  34
male, 25, BusinessServices, Sagittarius      33
female, 25, Student, Taurus                  33
male, 39, Education, Virgo                   32
male, 17, Student, Sagittarius               32
female, 25, indUnk, Libra                    29
                                           ...
female, 14, indUnk, Leo                       4
female, 26, Science, Sagittarius              4
female, 16, Student, Capricorn                4
male, 33, Technology, Sagittarius             4
male, 35, indUnk, Scorpio                     4
male, 44, indUnk, Taurus                      3
female, 23, indUnk, Sagittarius               3
female, 25, indUnk, Sagittarius               3
female, 24, Banking, Libra                    3
male, 23, Education, Cancer                   3
female, 33, Law, Leo                          3
male, 26, Museums-Libraries, Leo              2
male, 17, indUnk, Gemini                      2
male, 15, Student, Libra                      2
female, 34, indUnk, Virgo                     2
male, 16, Student, Cancer                     2
male, 15, Sports-Recreation, Taurus           2
male, 24, BusinessServices, Leo               2
female, 23, indUnk, Virgo                     2
female, 15, Arts, Pisces                      2
female, 14, Student, Capricorn                2
female, 26, Accounting, Aquarius              2
male, 23, Consulting, Taurus                  2
female, 25, indUnk, Capricorn                 2
female, 16, indUnk, Sagittarius               1
female, 27, Education, Gemini                 1
male, 25, Non-Profit, Capricorn               1
female, 23, indUnk, Aquarius                  1
female, 36, Student, Gemini                   1
female, 33, indUnk, Sagittarius               1
Name: label, Length: 114, dtype: int64

In [52]:
blgdata.groupby('label').count()

                                         text_new
label
female, 13, indUnk, Libra                       9
female, 14, Student, Capricorn                  2
female, 14, indUnk, Aquarius                    5
female, 14, indUnk, Aries                      21
female, 14, indUnk, Cancer                      7
female, 14, indUnk, Leo                         4
female, 15, Arts, Pisces                        2
female, 15, Student, Aquarius                  62
female, 15, Student, Cancer                     9
female, 15, Student, Gemini                     5
female, 15, Student, Leo                       17
female, 15, Student, Libra                    131
female, 15, indUnk, Aquarius                   11
female, 15, indUnk, Aries                      26
female, 16, Student, Capricorn                  4
female, 16, Student, Libra                     16
female, 16, indUnk, Leo                        16
female, 16, indUnk, Sagittarius                 1
female, 16, indUnk, Taurus                     20
female, 17, Student, Aries                     25
female, 17, Student, Gemini                    10
female, 17, Student, Leo                       37
female, 17, Student, Scorpio                    7
female, 17, indUnk, Cancer                    139
female, 17, indUnk, Scorpio                   558
female, 23, Automotive, Aquarius               14
female, 23, Student, Taurus                    17
female, 23, indUnk, Aquarius                    1
female, 23, indUnk, Aries                      10
female, 23, indUnk, Libra                      17
...                                           ...
male, 23, Consulting, Taurus                    2
male, 23, Education, Cancer                     3
male, 23, Student, Sagittarius                 10
male, 23, indUnk, Sagittarius                  49
male, 23, indUnk, Taurus                       14
male, 24, BusinessServices, Cancer             21
male, 24, BusinessServices, Leo                 2
male, 24, Engineering, Libra                  119
male, 25, Arts, Aries                          18
male, 25, BusinessServices, Sagittarius        33
male, 25, Internet, Aries                      20
male, 25, Non-Profit, Cancer                   46
male, 25, Non-Profit, Capricorn                 1
male, 25, Technology, Aries                    34
male, 25, indUnk, Taurus                        7
male, 26, Museums-Libraries, Leo                2
male, 26, indUnk, Gemini                       44
male, 26, indUnk, Leo                          35
male, 26, indUnk, Sagittarius                   5
male, 33, InvestmentBanking, Aquarius          70
male, 33, Technology, Sagittarius               4
male, 35, Technology, Aries                  2294
male, 35, indUnk, Scorpio                       4
male, 36, Fashion, Aries                     1200
male, 39, Communications-Media, Libra          47
male, 39, Education, Virgo                     32
male, 41, Communications-Media, Libra          14
male, 42, Religion, Aries                       5
male, 44, indUnk, Taurus                        3
male, 46, Consulting, Gemini                    7

[114 rows x 1 columns]

In [53]:
##Transform the labels

In [54]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.preprocessing import MultiLabelBinarizer

In [55]:
mlb = MultiLabelBinarizer(classes=Y_train.unique())
mlb.fit_transform('Y_train')
mlb.transform('Y_test')

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:951: UserWarning: unknown class(es) ['Y', '_', 'a', 'i', 'n', 'r', 't'] will be ignored
  .format(sorted(unknown, key=str)))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:951: UserWarning: unknown class(es) ['Y', '_', 'e', 's', 't'] will be ignored
  .format(sorted(unknown, key=str)))

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0]])

In [56]:
x_train_dtm.shape

(5625, 334387)

In [57]:
print(Y_train.shape)
print(Y_test.shape)

(5625,)
(1875,)

In [58]:
##Choose a classifier

In [59]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(solver='lbfgs',max_iter=2000)
clf1vR = OneVsRestClassifier(clf)

In [60]:
##Fit the classifier, make predictions and get the accuracy

In [61]:
clf1vR.fit(x_train_dtm,Y_train)

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=2000,
                                                 multi_class='warn',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [62]:
predicted=clf1vR.predict(x_test_dtm)

In [72]:
from sklearn.metrics import accuracy_score
print( "Accuracy Score: ",accuracy_score(Y_test, predicted))

Accuracy Score:  0.632

In [73]:
print(Y_train,predicted)

6316                 male, 36, Fashion, Aries
3134              male, 35, Technology, Aries
4536          female, 34, indUnk, Sagittarius
84                  female, 14, indUnk, Aries
5072              female, 17, indUnk, Scorpio
1811              male, 35, Technology, Aries
7076                 male, 36, Fashion, Aries
2152              male, 35, Technology, Aries
2963              male, 35, Technology, Aries
6419                 male, 36, Fashion, Aries
5929               female, 27, indUnk, Taurus
5938               female, 27, indUnk, Taurus
5683               female, 27, indUnk, Taurus
5451               female, 27, indUnk, Taurus
2832              male, 35, Technology, Aries
383               female, 24, indUnk, Scorpio
1892              male, 35, Technology, Aries
1172               female, 16, indUnk, Taurus
7215                 male, 36, Fashion, Aries
4297          female, 34, indUnk, Sagittarius
192              female, 37, indUnk, Aquarius
7097                 male, 36, Fashion, Aries
7416                 male, 36, Fashion, Aries
1442              male, 35, Technology, Aries
132              female, 23, indUnk, Aquarius
1242            female, 15, Student, Aquarius
5576               female, 27, indUnk, Taurus
5723               female, 27, indUnk, Taurus
803             male, 23, indUnk, Sagittarius
421               female, 24, indUnk, Scorpio
                        ...
4147          female, 34, indUnk, Sagittarius
4971              female, 17, indUnk, Scorpio
5034              female, 17, indUnk, Scorpio
6916                 male, 36, Fashion, Aries
5222              female, 17, indUnk, Scorpio
5315              female, 17, indUnk, Scorpio
2727              male, 35, Technology, Aries
6949                 male, 36, Fashion, Aries
3700    male, 39, Communications-Media, Libra
124                female, 17, Student, Aries
6548                 male, 36, Fashion, Aries
2778              male, 35, Technology, Aries
7455                 male, 36, Fashion, Aries
2879              male, 35, Technology, Aries
5167              female, 17, indUnk, Scorpio
2773              male, 35, Technology, Aries
2635              male, 35, Technology, Aries
6751                 male, 36, Fashion, Aries
433               female, 24, indUnk, Scorpio
4770        male, 33, Technology, Sagittarius
3335              male, 35, Technology, Aries
6504                 male, 36, Fashion, Aries
1099               female, 15, Student, Libra
2514              male, 35, Technology, Aries
6443                 male, 36, Fashion, Aries
3606              male, 35, Technology, Aries
5704               female, 27, indUnk, Taurus
6637                 male, 36, Fashion, Aries
2575              male, 35, Technology, Aries
7336                 male, 36, Fashion, Aries
Name: label, Length: 5625, dtype: object ['male, 35, Technology, Aries' 'female, 15, Student, Libra'
 'female, 27, Education, Aquarius' ... 'female, 17, indUnk, Scorpio'
 'female, 34, indUnk, Sagittarius' 'male, 35, Technology, Aries']

In [74]:
nb = MultinomialNB()
nb.fit(x_train_dtm, Y_train)
y_pred_class = nb.predict(x_test_dtm)

In [75]:
print (metrics.accuracy_score(Y_test, y_pred_class))

0.4512

In [76]:
logreg = LogisticRegression()
logreg.fit(x_train_dtm, Y_train)
y_pred_class = logreg.predict(x_test_dtm)
print (metrics.accuracy_score(Y_test, y_pred_class))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

0.6330666666666667

In [84]:
def tokenize_test(vect):
    x_train_dtm = vect.fit_transform(X_train)
    print('Features: ', x_train_dtm.shape[1])
    x_test_dtm = vect.transform(X_test)
    nb = MultinomialNB()
    nb.fit(x_train_dtm, Y_train)
    y_pred_class = nb.predict(x_train_dtm)
    print('Accuracy: ', metrics.accuracy_score(Y_test, y_pred_class))

In [86]:
x_train_dtm = vect.fit_transform(X_train)
x_test_dtm = vect.transform(X_test)

In [89]:
vect = CountVectorizer(stop_words='english', max_features=300)
tokenize_test(vect) ## need help with below error

Features:  300

ValueError: Found input variables with inconsistent numbers of samples: [1875, 5625]